<div class="container mt-5">
    <h2>Comprobantes</h2>
    <table class="table table-striped table-bordered">
        <thead class="thead-dark">
            <tr>
                <th>Número de Comprobante</th>
                <th>Tipo de Documento</th>
                <th>Orientación</th>
                <th>Fecha</th>
                <th>Monto Total</th>
            </tr>
        </thead>
        <tbody>
            {{#each comprobantes}}
            <tr>
                <td>{{Num_com}}</td>
                <td>{{Tip_doc}}</td>
                <td>{{Ori}}</td>
                <td>{{Fec}}</td>
                <td>{{Mon_Tot}}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>